/* header */

body {
  margin: 0;
}

.header {
  background-color: #1f2937;
  display: flex;
  padding: 0 200px;
  justify-content: space-between;
}

img.logo {
  width: 75px;
  height: auto;
  padding: 10px 100px 0 0;
}

.navbar {
  display: flex;
  gap: 25px;
  align-items: center;
}

h3 {
  font-size: 18px;
  color: #e5e7eb;
  font-family: Helvetica, Arial, sans-serif;
}
/*main content block*/

.main-content {
  display: flex;
  padding: 100px 200px;
  background-color: #1f2937;
  gap: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  flex: 1 1 200px;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  color: #f9faf8;
  margin: 0;
  font-size: 48px;
  font-weight: 800;
}

.signup {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 7px 25px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  white-space: nowrap;
  font-size: 18px;
}

img {
  max-width: 550px;
  height: auto;
  align-self: center;
}

/* information */

.info {
  display: flex; /* Perhaps make whole body a flex column? */
  flex-direction: column;
}

.icon-container {
  display: flex;
  justify-content: center;
  padding: 35px 200px 75px 200px;
  gap: 50px 50px;
  flex-wrap: wrap;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0 1 180px;
}

.icons > img {
  width: 150px;
  height: auto;
}

.info h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

.info h3 {
  color: #1f2937;
  text-align: center;
}

/* quote section */

.quote {
  background-color: #e5e7eb;
  padding: 100px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote h3 {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  text-align: left;
  font-weight: 300;
  margin-bottom: 10px;
}

.quote .quotee {
  font-size: 28px;
  font-style: none;
  text-align: center;
  font-weight: 700;
  font-style: normal;
  margin: 10px 0 75px 0;
  display: block;
}
.quote > h3:last-of-type > span:last-of-type {
  margin-bottom: 36px;
} /* selects the last quotee and makes top & bottom margin of quote section equal*/

/* Call to action */

.action-container {
  background-color: #3882f6;
  margin: 100px 200px;
  padding: 50px 115px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.action-container h2 {
  font-size: 24px;
  color: #f9faf8;
  text-align: left;
  margin: 0;
}

.action-container h3 {
  font-size: 18px;
  color: #e5e7eb;
  text-align: left;
  margin: 0;
}

.action {
  margin-right: 30px;
  flex: 1 1 200px;
}

.action-container button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 7px 25px;
  font-weight: 700;
  border-radius: 10px;
  border: 3px solid white;
  white-space: nowrap;
  font-size: 18px;
}

.footer {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
